/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400;700&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7F7;
  color: #000;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #10291D;
  padding: 10px 5%;
  border-bottom: 3px solid #F7C64A;
}

.nav-logo {
  height: 140px; /*updated size*/
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #F7F7F7;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #F7C64A;
}

/* Main */
main {
  padding: 30px 10%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #10291D;
}

h3 {
  margin-top: 30px;
  border-bottom: 2px solid #F7C64A;
}

/* Menu items */
.menu-item {
  background-color: white;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
}

/* Sections */
section {
  margin-bottom: 30px;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #10291D;
  color: #F7F7F7;
  margin-top: 30px;
}
  .home-content {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
 }

 .home-content h3 {
  color: #10291D;
  margin-bottom: 10px;
 }

 .home-content p {
  margin-top: 15px;
  line-height: 1.6;
 }

 .hero-subtext {
  margin-top: 10px;
  margin-bottom: 15px;
}

.hero {
  text-align: center;
}

.hero p {
  text-align: center;
}





/* Mobile */
@media (max-width: 768px) {

  /* Keep flexbox, just stack it */
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* Logo adjustment */
  .nav-logo {
    height: 90px;
    margin-bottom: 10px;
  }

  /* column instead of row */
  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
  }

  
  main {
    padding: 20px;
  }

  
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  /* Menu readability improvement */
  .menu-item {
    padding: 10px;
  }

  #error-message {
  color: red;
  display: none;
  margin-bottom: 1rem;
  font-weight: bold;
  }



}